body{
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#141626;
  color:#fff;
  font-family:Arial;
}

#login{
  width:300px;
  background:#1c1f3a;
  padding:20px;
  border-radius:16px;
}

input{
  width:100%;
  padding:12px;
  margin-bottom:10px;
  border-radius:10px;
  border:none;
  background:#252862;
  color:#fff;
}

button{
  width:100%;
  padding:12px;
  border:none;
  border-radius:12px;
  background:linear-gradient(135deg,#7b8cff,#c77dff);
  color:#fff;
  font-weight:600;
  margin-bottom:8px;
}

.tg{
  background:#2aabee;
}

.hidden{display:none}
